.cell{
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    overflow: visible;
    display: flex;
}

.column{
    overflow: visible;
    display:inline-block;
}

.player1{
    background: #f00;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.player2{
    background: #000000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}